<div class="hero wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8">
				<h1>Descubra a Baixada Santista</h1>
				<p>Navegue entre roteiros culturais e sítios arqueológicos e explore a Baixada Santista</p>
				<form>
				  <div class="form-row">
				    <div class="col">
				      <input type="text" class="form-control" placeholder="Palavra Chave">
				    </div>
				    <div class="col">
				      <select class="form-control">
				        <option selected disabled>Cidade</option>
				        <option>...</option>
				        <option>...</option>
				        <option>...</option>
				      </select>
				    </div>
				    <div class="col-5">
				      <select class="form-control">
				        <option selected disabled>Categoria</option>
				        <option>...</option>
				        <option>...</option>
				        <option>...</option>
				      </select>
				    </div>
				    <div class="col-auto">
				    	<a href="/sitio">
				      <button type="submit" class="form-control btn btn-success">Ir</button>
				    	</a>
				    </div>
				  </div>
				</form>
				<div class="navegue">
					<a href="/#/mapa" target="_self"><h6>Navegue pelo mapa!</h6></a>
				</div>
			</div> <!-- col end -->
		</div> <!-- row end -->
	</div> <!-- container end -->
</div> <!-- hero wrapper end -->